/bin/
/obj/
/out/
/app/publish/

*.user
*.suo
.vs/
*.vc.db
*.vscode/

.idea/
*.iml

App_Data/
*.dbmdl
*.log

docker-compose.override.yml
*.env
.env.*
*.pid
*.tgz

*.log
*.trace

*.nupkg
.nuget/
packages/
project.lock.json

TestResults/
coverage/
*.coverage*
*.coveragexml

Thumbs.db
.DS_Store

appsettings.*.json
secrets.json

Migrations/*Snapshot.cs

launch-and-verify.ps1
